<?xml version="1.0" encoding="utf-8" ?>
<!--nlog 基础配置  第二行throwExceptions开始 上线后关闭-->
<nlog autoReload="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  throwExceptions="true" throwConfigExceptions="true" internalLogLevel="Trace" >
  <!-- load NLog.Extended to enable ASP.NET-specific functionality -->
  <extensions>
     <add assembly="NLog.Web"/>
     <add assembly="NLog.Extended"/>
     <add assembly="NLog.Web.AspNetCore"/>
   </extensions>
  <variable name="LogDir" value="${tempdir}/BPMOnline/${iis-site-name}/Log" />
	<variable name="LogDay" value="${date:format=yyyy_MM_dd}" />
	<variable name="MethodName" value="${callsite:className=False:includeNamespace=False:methodName=true:skipFrames=1}" />
	<variable name="UserName" value="${whenEmpty:whenEmpty=${aspnet-user-identity}:inner=${windows-identity}}" />
	<variable name="ThreadIdOrName" value="${whenEmpty:whenEmpty=${threadid}:inner=${threadname}}" />
	<variable name="Message" value="${message:withException=true}" />
	<variable name="Date" value="${date:format=yyyy-MM-dd HH\:mm\:ss,fff}" />
	<variable name="DefaultLayout" value="${Date} [${ThreadIdOrName}] ${uppercase:${level}} ${UserName} ${logger} ${MethodName} - ${Message}" />
	<variable name="SimplifiedLayout" value="${Date} ${Message}" />
    <targets>
    <target name="queue" xsi:type="kafka" topic="-kafka" appname="nlogtest" includeMdc="true"  >
      <!-- bootstrap.servers = 127.0.0.1:9092,127.0.0.1:9092,127.0.0.1:9092 -->
      <producerConfig key="bootstrap.servers" value="localhost:9092" />
      <producerConfig key="queue.buffering.max.messages" value="2000000" />
      <producerConfig key="retry.backoff.ms" value="500" />
      <producerConfig key="message.send.max.retries" value="3" />
    </target>
    <target name="newtarget" xsi:type="file" fileName="text.txt">
      
    </target>
      <default-wrapper xsi:type="AsyncWrapper" queueLimit="200" overflowAction="Grow" />
      <default-target-parameters xsi:type="File" keepFileOpen="false" encoding="utf-8" />
      <target name="commonAppender" xsi:type="File"
        layout="${DefaultLayout}"
        fileName="${LogDir}/${LogDay}/Common.log" >
      </target>
      <target name="universalAppender" xsi:type="File"
        layout="${DefaultLayout}"
        fileName="${LogDir}/${LogDay}/${logger:shortName=True}.log" />
      <target name="universalSyncAppender" xsi:type="File"
        layout="${Date} [${ThreadIdOrName}] ${uppercase:${level}} ${UserName} ${MethodName} - ${Message}"
        fileName="${LogDir}/${LogDay}/Sync/${logger:shortName=True}.log" />
      <target name="errorAppender" xsi:type="File"
        layout="${DefaultLayout}"
        fileName="${LogDir}/${LogDay}/Error.log" />
      <target name="scedulerAppender" xsi:type="File"
        layout="${DefaultLayout}"
        fileName="${LogDir}/${LogDay}/Scheduler.log" />
      <target name="commonSyncAppender" xsi:type="File"
        layout="${DefaultLayout}"
        fileName="${LogDir}/${LogDay}/Sync/Common.log" />
      <target name="caseNotificationAppender" xsi:type="File"
        layout="${DefaultLayout}"
        fileName="${LogDir}/${LogDay}/CaseNotification/CaseNotification.log" />
      <target name="timeZoneMacrosConverterAppender" xsi:type="File"
        layout="${DefaultLayout}"
        fileName="${LogDir}/${LogDay}/TimeZoneMacrosConverter/TimeZoneMacrosConverter.log" />
      <target name="emailMiningAppender" xsi:type="File"
        layout="${Date} [${ThreadIdOrName}] ${uppercase:${level}} ${UserName} ${MethodName} - ${Message}"
        fileName="${LogDir}/${LogDay}/Enrichment/EmailMining.log" />
      <target name="contactEnrichmentAppender" xsi:type="File"
        layout="${Date} [${ThreadIdOrName}] ${uppercase:${level}} ${UserName} ${MethodName} - ${Message}"
        fileName="${LogDir}/${LogDay}/Enrichment/ContactEnrichment.log" />
      <target name="MLAppender" xsi:type="File"
        layout="${Date} [${ThreadIdOrName}] ${uppercase:${level}} ${UserName} ${MethodName} - ${Message}"
        fileName="${LogDir}/${LogDay}/ML/ML.log" />
      <target name="multiDeleteAppender" xsi:type="File"
        layout="${Date} [${ThreadIdOrName}] ${uppercase:${level}} ${UserName} ${MethodName} - ${Message}"
        fileName="${LogDir}/${LogDay}/MultiDelete.log" />
      <target name="sqlLogAppender" xsi:type="File" fileName="${LogDir}/${LogDay}/SQL.json" >
        <archiveNumbering>Sequence</archiveNumbering>
        <archiveEvery>Day</archiveEvery>
        <archiveFileName>${LogDir}/${LogDay}/SQL.{#}.json</archiveFileName>
        <archiveAboveSize>262144000</archiveAboveSize>
        <layout xsi:type="JsonLayout" >
          <attribute name="time" layout="${longdate}" />
          <attribute name="level" layout="${level:upperCase=true}"/>
          <attribute name="app" layout="${processname}" />
          <attribute name="thread" layout="${threadid}" />
          <attribute name="ndc" layout="${ndc}" />
          <attribute name="exception" layout="${exception}" encode="true" />
        </layout>
      </target>
      <target name="applicationAppender" xsi:type="File"
        layout="${DefaultLayout}"
        fileName="${LogDir}/${LogDay}/Application.log" >
      </target>
      <target name="retryOperationAppender" xsi:type="File"
        layout="${DefaultLayout}"
        fileName="${LogDir}/${LogDay}/RetryOperation.log" >
      </target>
      <target name="loggingDataReaderAppender" xsi:type="File"
        fileName="${LogDir}/${LogDay}/LoggingDataReader.json" >
        <archiveNumbering>DateAndSequence</archiveNumbering>
        <archiveEvery>Day</archiveEvery>
        <archiveDateFormat>yyyy_MM_dd</archiveDateFormat>
        <archiveAboveSize>262144</archiveAboveSize>
        <layout xsi:type="JsonLayout" >
        </layout>
      </target>
      <target name="performanceJsonLoggerAppender" xsi:type="File"
        fileName="${LogDir}/${LogDay}/PerformanceLogger.json" >
        <archiveNumbering>DateAndSequence</archiveNumbering>
        <archiveEvery>Day</archiveEvery>
        <archiveDateFormat>yyyy_MM_dd</archiveDateFormat>
        <archiveAboveSize>262144</archiveAboveSize>
        <layout xsi:type="JsonLayout" excludeProperties="ndc,appname,level" >
          <attribute name="d" layout="${longdate}" />
          <attribute name="t" layout="${threadid}" />
          <attribute name="u" layout="${UserName}" />
        </layout>
      </target>
      <target name="sspUserOperationAppender" xsi:type="File"
        layout="${DefaultLayout}"
        fileName="${LogDir}/${LogDay}/SSP/SSPUserOperation.log" />
      <target name="googleContactAppender" xsi:type="File"
        layout="${DefaultLayout}"
        fileName="${LogDir}/${LogDay}/GoogleContact.log" />
      <target name="clientAppender" xsi:type="file"
        layout="${DefaultLayout}"
        fileName="${LogDir}/${LogDay}/Client.log" />/>
      <target name="clientUnitAppender" xsi:type="File"
        layout="${DefaultLayout}"
        fileName="${LogDir}/${LogDay}/ClientUnit.log" />
      <target name="queuesNotificationsAppender" xsi:type="File"
        layout="${DefaultLayout}"
        fileName="${LogDir}/${LogDay}/QueuesNotifications.log" />
      <target name="processAppender" xsi:type="File"
        layout="${Date} ${uppercase:${level}} ${UserName} ${logger:shortName=true} ${MethodName} - ${Message}"
        fileName="${LogDir}/${LogDay}/BusinessProcess.log" encoding="windows-1251" />
      <target name="coreDiagnosticsAppender" xsi:type="File"
        layout="${SimplifiedLayout}"
        fileName="${LogDir}/${LogDay}/CoreDiagnostics.log" />
      <target name="authenticationAppender" xsi:type="File"
        layout="${SimplifiedLayout}"
        fileName="${LogDir}/${LogDay}/Auth.log" />
      <target name="packagesSynchronizationAppender" xsi:type="File"
        layout="${SimplifiedLayout}"
        fileName="${LogDir}/${LogDay}/PackagesSynchronization.log" />
      <target name="packagesFileTarget" xsi:type="File"
        layout="${SimplifiedLayout}"
        fileName="${LogDir}/${LogDay}/Packages.log" />
      <target name="createBundleAppender" xsi:type="File"
        layout="${SimplifiedLayout}"
        fileName="${LogDir}/${LogDay}/CreateBundle.log" />
      <target name="msgUtilServiceAppender" xsi:type="File"
        layout="${DefaultLayout}"
        fileName="${LogDir}/${LogDay}/MsgUtilService.log" />
      <target name="activeCallCollectionAppender" xsi:type="File"
        layout="${DefaultLayout}"
        fileName="${LogDir}/${LogDay}/ActiveCallCollection.log" />
      <target name="globalSearchAppender" xsi:type="File"
        layout="${Date} [${ThreadIdOrName}] ${uppercase:${level}} ${UserName} ${MethodName} - ${Message}"
        fileName="${LogDir}/${LogDay}/GlobalSearch.log" />
      <target name="actorSystemAppender" xsi:type="File"
        layout="${Date} ${uppercase:${level}} ${logger} - ${Message}"
        fileName="${LogDir}/${LogDay}/ActorSystem.log" />
      <target name="messagingAppender" xsi:type="File"
        layout="${Date} [${ThreadIdOrName}] ${uppercase:${level}} ${UserName} ${MethodName} - ${Message}"
        fileName="${LogDir}/${LogDay}/Messaging.log" />
      <target name="bonusPaymentAppender" xsi:type="File"
        layout="${Date} [${ThreadIdOrName}] ${uppercase:${level}} ${UserName} ${MethodName} - ${Message}"
        fileName="${LogDir}/${LogDay}/BonusPayment.log" />
  </targets>

  <rules>
    <logger name="Quartz*" writeTo="scedulerAppender" minlevel="Info" final="true" />
    <logger name="Terrasoft.Core.Scheduler.*" writeTo="scedulerAppender" minlevel="Info" final="true" />
    <logger name="LDAP" writeTo="universalAppender" minlevel="Info" final="true" />
    <logger name="Terrasoft.Sync" writeTo="commonSyncAppender" minlevel="Info" final="true" />
    <logger name="Excel" writeTo="universalAppender" minlevel="Info" final="true" />
    <!-- Ignore Imap* messages from Trace to Info loglevel -->
    <logger name="Imap*" minlevel="Trace" maxlevel="Info" final="true" />
    <!-- Enable Imap* messages from Warn loglevel -->
    <logger name="Imap*" writeTo="universalSyncAppender" minlevel="Warn" final="true" />
    <!-- Ignore Exchange* messages from Trace to Info loglevel -->
    <logger name="Exchange*" minlevel="Trace" maxlevel="Info" final="true" />
    <!-- Enable Exchange* messages from Warn loglevel -->
    <logger name="Exchange*" writeTo="universalSyncAppender" minlevel="Warn" final="true" />
    <logger name="GlobalSearch" writeTo="globalSearchAppender" minlevel="Info" final="true" />
    <logger name="CaseNotification" writeTo="caseNotificationAppender" final="true" />
    <logger name="TimeZoneMacrosConverter" writeTo="timeZoneMacrosConverterAppender" final="true" />
    <logger name="EmailMining" writeTo="emailMiningAppender" final="true" />
    <logger name="InstallZipPackage" writeTo="universalAppender" minlevel="Info" final="true" />
    <logger name="ContactEnrichment" writeTo="contactEnrichmentAppender" final="true" />
    <!-- Ignore ExchangeListener messages from Trace to Info loglevel -->
    <logger name="ExchangeListener" minlevel="Trace" maxlevel="Info" final="true" />
    <!-- Enable ExchangeListener messages from Warn loglevel -->
    <logger name="ExchangeListener" writeTo="universalSyncAppender" minlevel="Warn" final="true" />
    <logger name="ML" writeTo="MLAppender" final="true" />
    <logger name="Deduplication" writeTo="universalAppender" minlevel="Info" final="true" />
    <logger name="IncidentRegistration" writeTo="universalAppender" minlevel="Info" final="true" />
    <logger name="CaseMessageListener" writeTo="universalAppender" minlevel="Info" final="true" />
    <logger name="EmailCases" writeTo="universalAppender" minlevel="Error" final="true" />
    <!--<logger name="RabbitClient" writeTo="rabbitErrorAppender" minlevel="Error" final="true" />-->
    <!--<logger name="RabbitClient" writeTo="rabbitInfoAppender" minlevel="Info" maxlevel="Warn" final="true" />-->
    <!-- To prevent futher rules processing for levels that are lower than 'Error', -->
    <!-- we need to add an empty rule with final attribute (without level* and writeTo attributes). -->
    <logger name="EmailCases" final="true" />
    <logger name="MultiDelete" writeTo="multiDeleteAppender" minlevel="Info" final="true" />
    <logger name="BonusPayment" writeTo="bonusPaymentAppender" minlevel="Info" final="true" />
    <logger name="AutoTest" writeTo="universalAppender" minlevel="Info" final="true" />
    <logger name="Notifications" writeTo="universalAppender" minlevel="Info" final="true" />
    <logger name="Terrasoft.Core.DB.DBExecutor*" writeTo="sqlLogAppender" minlevel="Debug" final="true" />
    <logger name="Terrasoft.WebApp.Loader.*" writeTo="applicationAppender" minlevel="Info" final="true" />
    <logger name="Terrasoft.WebApp.Global" writeTo="applicationAppender" minlevel="Info" final="true" />
    <logger name="Terrasoft.Core.LicManager" writeTo="applicationAppender" minlevel="Info" final="true" />
    <logger name="Redis" writeTo="universalAppender" minlevel="Info" final="true" />
    <logger name="Terrasoft.Core.RetryOperation" writeTo="retryOperationAppender" minlevel="Warn" final="true" />
    <logger name="Terrasoft.Core.RetryOperation" final="true" />
    <logger name="Messaging" writeTo="messagingAppender" minlevel="Info" final="true" />
    <logger name="Client.*" writeTo="clientAppender" final="true" />
    <logger name="Terrasoft.Core.DB.LoggingDataReader" writeTo="loggingDataReaderAppender" minlevel="Debug" final="true" />
    <logger name="Terrasoft.Core.PerformanceLogger" writeTo="performanceJsonLoggerAppender" final="true" />
    <logger name="Build" writeTo="universalAppender" final="true" />
    <logger name="SSPUserOperation" writeTo="sspUserOperationAppender" final="true" />
    <logger name="SecurityToken" writeTo="universalAppender" final="true" />
    <logger name="Terrasoft.GoogleServices.GContactSyncProvider" writeTo="googleContactAppender" minlevel="Error" final="true" />
    <logger name="Svn" writeTo="universalAppender" final="true" />
    <logger name="PlatformLog" writeTo="universalAppender" final="true" />
    <logger name="Terrasoft.Core.ClientUnitUtilities" writeTo="clientUnitAppender" final="true" />
    <logger name="Terrasoft.Configuration.QueuesUtilities" writeTo="queuesNotificationsAppender" minlevel="Debug" final="true" />
    <logger name="MacrosHelperV2" writeTo="queuesNotificationsAppender" minlevel="Error" final="true" />
    <logger name="MacrosHelperV2" final="true" />
    <logger name="Process" writeTo="processAppender" minlevel="Info" final="true" />
    <logger name="ProcessDesignLog" writeTo="processAppender" minlevel="Info" final="true" />
    <logger name="Terrasoft.Core.ProcessEngine" writeTo="processAppender" minlevel="Info" final="true" />
    <logger name="Terrasoft.Core.Process.ProcessExecutor" writeTo="processAppender" minlevel="Info" final="true" />
    <logger name="Terrasoft.Core.Packages.PackageDBStorage" writeTo="coreDiagnosticsAppender" final="true" />
    <logger name="Terrasoft.Core.Packages.Descriptor" writeTo="coreDiagnosticsAppender" final="true" />
    <logger name="Terrasoft.WebApp.Loader.Authentication.Ldap.LdapProvider" writeTo="authenticationAppender" final="true" />
    <logger name="Authentication" writeTo="authenticationAppender" minlevel="Info" final="true" />
    <logger name="ConfigurationBuild" writeTo="universalAppender" minlevel="Info" final="true" />
    <logger name="Terrasoft.Core.Packages.PackageStorageComposer" writeTo="packagesSynchronizationAppender" minlevel="Info" final="true" />
    <logger name="Terrasoft.Core.Packages.PackageStorage" writeTo="packagesSynchronizationAppender" minlevel="Info" final="true" />
    <logger name="Terrasoft.Core.Packages.PackageDBResourcesStorage" writeTo="packagesSynchronizationAppender" minlevel="Info" final="true" />
    <logger name="Terrasoft.Core.Packages.PackageFileResourcesStorage" writeTo="packagesSynchronizationAppender" minlevel="Info" final="true" />
    <logger name="Terrasoft.Core.Packages.PackageInstallUtilities" writeTo="packagesSynchronizationAppender" minlevel="Info" final="true" />
    <logger name="Packages" writeTo="packagesFileTarget" minlevel="Info" final="true" />
    <logger name="CreateBundle" writeTo="createBundleAppender" final="true" />
    <logger name="Analytics" writeTo="universalAppender" minlevel="Info" final="true" />
    <logger name="ActorSystem" writeTo="actorSystemAppender" final="true" />
    <logger name="Terrasoft.Messaging.Common.MsgUtilService" final="true" />
    <logger name="Terrasoft.Messaging.Common.ActiveCallCollection" final="true" />
    <logger name="EntityEventAsyncExecutor" writeTo="universalAppender" final="true" />
    <logger name="FullPipeline" writeTo="universalAppender" final="true" />
    <!-- Starting from 7.14.0, operation logs are written to database by default. -->
    <!-- Turn this logger on only if you want to store your audit logs elsewhere. -->
    <logger name="OperationLogger" minlevel="Info" final="true" />
    <!--<logger name="*" writeTo="GelfFileAppender" minlevel="Debug" final="true" />-->
    <!-- Place your own loggers with `final` attribute BEFORE this default logger -->
    <logger name="*" writeTo="errorAppender" minlevel="Error" final="true" />
    <logger name="*" writeTo="commonAppender" minlevel="Info" maxlevel="Warn" />
    <logger name="*" writeTo="queue" />
  </rules>
</nlog>